body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.container {
  /* display: flex; */
  align-items: center;
  width: 100%;
}
.btn-container {
  display: flex;
  padding-top: 25px;
  height: 100px;
  width: 100%; 
  background-color: rgb(132, 31, 13);
}
.task-container {
  display: flex;
  align-items: center;
  height: 300px;
  width: 100%; 
  background-color: rgb(37, 13, 132);
}
.task-input-box {
  flex: auto;
  align-items: center;
  /* padding-bottom: 25px; */
  height: 200px;
  width: 100%; 
  background-color: rgb(153, 140, 206);
}
.title {
  width: 100px;
}
.input {
  flex:1;
  padding: 5px;
}
.task-btn {
  padding-bottom: 30px;
  flex: auto;
  align-items: center;
  height: 50px;
  width: 100%;
  /* border-color: rgb(193, 36, 27); */
  border-width:5px;
  background-color: rgb(13, 132, 23);
}

/* #task-input-box {
  height: 200px;
  width: 100%;
  border-color: rgb(120, 32, 32);
  border-width:2cm;
  background-color: rgb(183, 22, 22);
} */